In [1]:
import pandas as pd
import numpy as np

In [2]:
db=pd.read_csv('student_data.csv')
db

      student_id             name    subject  score        date attendance
0            109     Janice Ortiz   Computer   72.0  10/25/2024     Absent
1            142   Chelsea Wilson   Computer    NaN    9/2/2025        NaN
2            156    Curtis Rivera    English   94.0   6/30/2025    Present
3            125  Deborah Schmidt    English    NaN  12/29/2024     Absent
4            115      Ruben Mccoy    English    NaN   6/24/2025        NaN
...          ...              ...        ...    ...         ...        ...
1535         196    Lauren Walker   Computer   70.0   3/24/2025        NaN
1536         147     Jonathan May    English   77.0   4/10/2025        NaN
1537         120      Michael Kim       Math    NaN    1/2/2025        NaN
1538         159      Hannah Todd  Geography   40.0   7/31/2025    Present
1539         136     Lydia Miller   Computer   60.0   10/9/2024        NaN

[1540 rows x 6 columns]

In [3]:
db.head()

   student_id             name   subject  score        date attendance
0         109     Janice Ortiz  Computer   72.0  10/25/2024     Absent
1         142   Chelsea Wilson  Computer    NaN    9/2/2025        NaN
2         156    Curtis Rivera   English   94.0   6/30/2025    Present
3         125  Deborah Schmidt   English    NaN  12/29/2024     Absent
4         115      Ruben Mccoy   English    NaN   6/24/2025        NaN

In [4]:
db.describe()

        student_id        score
count  1540.000000  1037.000000
mean    109.600649    70.928640
std      63.051107    18.009455
min       1.000000    40.000000
25%      40.000000    55.000000
50%     124.500000    72.000000
75%     163.000000    87.000000
max     199.000000   100.000000

In [5]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1540 entries, 0 to 1539
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   student_id  1540 non-null   int64
 1   name        1540 non-null   object
 2   subject     1540 non-null   object
 3   score       1037 non-null   float64
 4   date        1506 non-null   object
 5   attendance  1190 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 72.3+ KB

In [6]:
db[db.duplicated()]

      student_id                name    subject  score        date attendance
21           177           Chad Diaz    History  100.0   9/19/2025     Absent
35           146       Craig Johnson    Science    NaN   8/27/2025    Present
119          175      Jessica Martin    English    NaN  11/22/2024        NaN
138          166    Jennifer Ferrell       Math    NaN   1/18/2025    Present
243          163     Karen Hernandez    Science   99.0   9/22/2024     Absent
247          137        Mary Mendoza   Computer    NaN  11/15/2024    Present
258          112        Sandra Patel  Geography    NaN   8/14/2025        NaN
266          114       Zachary Wells  Geography   49.0   5/29/2025        NaN
283          171       Carlos Wilcox    Science   78.0   5/15/2025     Absent
291          144        Eric Sampson    English    NaN  12/21/2024     Absent
309          106       Cynthia Grant  Geography   46.0    8/2/2025     Absent
312          159         Donna Jones       Math    NaN   3/25/2025     Absent
321          173       Lisa Crawford    English   96.0    6/7/2025     Absent
332          116        Stacey White    English    NaN   7/17/2025     Absent
421          176       Brooke Travis    English    NaN   5/14/2025     Absent
439          145         Joseph Bass  Geography   70.0   10/1/2024     Absent
452          154          Mary Moore   Computer    NaN   6/29/2025        NaN
464          167       Andrew Brooks   Computer    NaN    3/2/2025     Absent
467          129      Michael Jensen  Geography   98.0   9/20/2025    Present
477          161        Emily Miller    English    NaN    2/3/2025     Absent
1041         126     Cynthia Stewart    Science   91.0      Jan-25        NaN
1055         161       Hayley Harmon    Science   54.0   8/27/2025     Absent
1139         199      Virginia Hardy  Geography    NaN    4/4/2025    Present
1158         116       Kristina Rice    Science   84.0    6/6/2025    Present
1263         182       Travis Flores       Math    NaN  12/14/2024    Present
1267         129   Autumn Villanueva    English   89.0   5/10/2025     Absent
1278         190       Pamela Watson   Computer   47.0   9/15/2025        NaN
1286         194         Keith Brown    English    NaN   12/2/2024     Absent
1303         188     Danielle Hudson    English    NaN      Jan-25     Absent
1311         174      Kelly Campbell    History    NaN   6/14/2025     Absent
1329         148        Kyle Barrett    History    NaN    7/6/2025     Absent
1332         100           Tina Bass    English    NaN   2/17/2025        NaN
1341         122          Jimmy Bell  Geography    NaN  11/15/2024        NaN
1352         104   Phillip Gutierrez    English   59.0   5/15/2025    Present
1441         113       Sean Anderson   Computer  100.0    1/7/2025    Present
1459         182   Stephanie Pittman    History    NaN   11/3/2024    Present
1472         105       Matthew Mcgee    English   90.0   1/27/2025    Present
1484         146        Steven White  Geography    NaN         NaN    Present
1487         120     Jonathan Nguyen    Science   92.0   7/27/2025     Absent
1497         164  Christopher Porter   Computer   82.0    8/5/2025     Absent

In [7]:
db.duplicated().sum()

np.int64(40)

In [8]:
db=db.drop_duplicates()

In [9]:
db.duplicated().sum()

np.int64(0)

In [10]:
db.shape

(1500, 6)

In [11]:
db.isnull().sum()

student_id      0
name            0
subject         0
score         481
date           33
attendance    342
dtype: int64

In [12]:
db.loc[:, "attendance"] = db["attendance"].fillna("Absent")

In [13]:
db.head()

   student_id             name   subject  score        date attendance
0         109     Janice Ortiz  Computer   72.0  10/25/2024     Absent
1         142   Chelsea Wilson  Computer    NaN    9/2/2025     Absent
2         156    Curtis Rivera   English   94.0   6/30/2025    Present
3         125  Deborah Schmidt   English    NaN  12/29/2024     Absent
4         115      Ruben Mccoy   English    NaN   6/24/2025     Absent

In [14]:
db.isnull().sum()

student_id      0
name            0
subject         0
score         481
date           33
attendance      0
dtype: int64

In [15]:
db=db.dropna()

In [16]:
db.isnull().sum()

student_id    0
name          0
subject       0
score         0
date          0
attendance    0
dtype: int64

In [17]:
db.dtypes

student_id      int64
name           object
subject        object
score         float64
date           object
attendance     object
dtype: object

In [18]:
db['date']=pd.to_datetime(db['date'])

ValueError: time data "Jan-25" doesn't match format "%m/%d/%Y", at position 754. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [19]:
db['date'] = db['date'].replace("Jan-25", "1/25/2025")

In [20]:
db['date']=pd.to_datetime(db['date'])

ValueError: time data "missing_date" doesn't match format "%m/%d/%Y", at position 768. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [21]:
db['date'] = db['date'].replace("missing_date", "1/25/2025")

In [22]:
db['date']=pd.to_datetime(db['date'])

In [24]:
db.dtypes

student_id             int64
name                  object
subject               object
score                float64
date          datetime64[ns]
attendance            object
dtype: object

In [25]:
def categorize(score):
    if score >= 85:
        return "High"
    elif score >= 70:
        return "Medium"
    else:
        return "Low"

db["performance_category"] = db["score"].apply(categorize)

In [26]:
db.head()

,student_id,name,subject,score,date,attendance,performance_category
0,109,Janice Ortiz,Computer,72.0,2024-10-25,Absent,Medium
2,156,Curtis Rivera,English,94.0,2025-06-30,Present,High
5,177,Chad Diaz,History,100.0,2025-09-19,Absent,High
8,132,Aaron Wilson,History,53.0,2024-11-26,Absent,Low
9,160,Danielle Barron,Computer,68.0,2025-04-18,Absent,Low

In [27]:
db.to_csv("cleaned_students.csv", index=False)